/*

A dark theme

*/

.highlight
    color: #f8f8f2
    background: #282a36
    .code
        .built_in,
        .selector-tag,
        .section,
        .link
          color: #8be9fd

        .keyword
          color: #ff79c6

        .subst
          color: #f8f8f2

        .title
          color: #50fa7b

        .string,
        .meta,
        .attribute,
        .name,
        .type,
        .symbol,`
        .bullet,
        .addition,
        .variable,
        .template-tag,
        .template-variable
          color: #f1fa8c

        .comment,
        .quote,
        .deletion
            color: #6272a4

        .keyord,
        .selector-tag,
        .literal,
        .title,
        .section,
        .doctag,
        .type,
        .name,
        .strong
          font-weight: bold

        .number,
        .regexp,
        .literal
            color: #bd93f9