/*

A dark theme

*/

.highlight
  color: #f8f8f2
  background: #282a36

.meta,
.meta-keyword,
.tag,
.symbol,
.built_in,
.selector-tag,
.section,
.link,
.strong
  color: #8be9fd

.keyword
  color: #ff79c6

.formula,
.subst
  color: #f8f8f2

.class,
.title,
.name
  color: #50fa7b

.code
  color: #f8f8f2

.selector-class
  color: #a6e22e

.string,
.meta-string
.bullet,
.emphasis,
.type,
.builtin-name,
.selector-id,
.selector-attr,
.selector-pseudo,
.addition,
.template-tag,
.template-variable
  color: #f1fa8c

.comment,
.quote,
.deletion
    color: #6272a4

.attr,
.selector-tag,
.attribute,
.name,
.params,
.variable
  color: #cb7832

.keyword,
.selector-tag,
.literal,
.title,
.section,
.doctag,
.type,
.name,
.strong
  font-weight: bold

.number,
.regexp,
.literal
  color: #bd93f9