/*
 * Visual Studio Code Dark style
 * Author: DevJang <devjang2016@gmail.com>
 */

.highlight
    display: block
    overflow-x: auto
    padding: 0.5em
    background: #1E1E1E
    color: #DCDCDC
    .code
        .keyword,
        .literal,
        .symbol,
        .name
          color: #569CD6

        .link
          color: #569CD6
          text-decoration: underline

        .built_in,
        .type
          color: #4EC9B0

        .number,
        .class
          color: #B8D7A3

        .string,
        .meta-string
          color: #D69D85

        .regexp,
        .template-tag
          color: #9A5334


        .function,
        .formula
          color: #DCDCDC

        .comment,
        .quote
          color: #57A64A
          font-style: italic

        .doctag
          color: #608B4E

        .meta,
        .meta-keyword,
        .tag
          color: #9B9B9B

        .variable,
        .template-variable
          color: #BD63C5

        .subst,
        .params,
        .attr,
        .attribute,
        .builtin-name
          color: #9CDCFE

        .emphasis
          font-style: italic

        .keyword,
        .selector-tag,
        .literal,
        .doctag,
        .title,
        .section,
        .type,
        .selector-id
        .strong
          font-weight: bold

        .title
          color: #dcdcaa

        .section,
        .bullet,
        .selector-tag,
        .selector-id,
        .selector-class,
        .selector-attr,
        .selector-pseudo
          color: #D7BA7D

        .addition
          background-color: #144212
          display: inline-block
          width: 100%

        .deletion
          background-color: #600
          display: inline-block
          width: 100%