.wrapper {
	margin: 0 auto;
	max-width: 1100px;
}
@media (max-width: 1120px) {
	.wrapper {
		max-width: 1100px;
	}
}

.header {
	line-height: $base-font-size * 3;
	background-color: $header-bg;
	border-bottom: 1px solid #e1e4e6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	height: 45px;
	padding: 10px;
	margin: 0;

	&:after {
		clear: both;
		content: ' ';
		display: block;
	}

	.site-title {
		float: left;
		color: #80CBC4;
		text-decoration: none;
		font-size: $base-font-size + 4;
		font-weight: 500;
		line-height: $base-font-size * 3;
	}
	.site-nav {
		text-align:right;

		a {
			text-decoration: none;
			color: $header-link;
			padding: 10px 20px;
			white-space: nowrap;
		}
	}
}

.page-content {
	background:#fff;
	padding: 30px 0;

	.wrapper {
		position: relative;
		&:after {
			clear:both;
			content: '';
			display:block;
		}
		&:before {
			content: '';
			display:block;
			position: absolute;
			width: 300px;
			height: 100%;
			left: 800px;
			top: 0;
		}
	}

	img {
		max-width:100%;
	}
}

// Colum
.col-main {
	position: relative;
	box-sizing: border-box;
	padding: 30px;
	width: 800px;
	float: left;
}
.col-second {
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 300px;
	padding: 20px;
	z-index: 10;
}
.col-box {
	font-size: $small-font-size;
	padding-bottom: 20px;

	p {
	    margin: 0;
	}
    ul {
        padding-left: 20px;
        margin: 0;
    }

	&:not(:first-child) { padding-top: 20px; }

    .col-box-title {
    	color: #333;
	    margin-bottom: 10px;
	    font-size: $small-font-size * 1.1;
    }
}
@media (max-width: 1120px) {
	.page-content .wrapper:before {
		display: none;
	}
	.col-main,
	.col-second {
		width: auto;
		float: none;
	}
	.col-box {
		width: 50%;
		float: left;
		margin-bottom: 10px;
	}
	.col-box:not(:first-child) {
		border-top: none;
		padding-top:0;
	}
	.col-second:after {
		clear: both;
		display: block;
		content: ' ';
	}
}
.col-box-author {
	text-align: center;
	.avatar {
		width: 135px;
		height: 135px;
		border-radius: 100%;
		margin: 20px auto;
		display: block;
	}
	.name {
		font-size: $base-font-size;
	}
	.contact {
		margin-top: 10px;
		a {
			background: $color-link-weak;
			color: #fff;
			padding: 5px 8px;
			text-decoration: none;
      border-radius: 4px;
      white-space: nowrap;
      margin-right: 1px;

			&:hover {
        text-decoration: none;
				transition: background 0.3s ease;
				background: $color-link-weak;
			}
		}
	}
}

// footer
.footer {
	padding: 20px 0;
	text-align:center;
	color:#666;
	font-size:$small-font-size;
}

@import "post", "home";

@include media-query($on-laptop) {
	.page-content {
		padding: 0;
	}
	.footer {
		padding: 15px 0 ;
	}
}
@include media-query($on-palm) {
	.header {
		&, .site-nav{
			text-align:center;
		}
		.site-title {
			float: none;
		}
	}
	.col-main {
		padding: 10px;
	}
	.col-box {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	pre {
		padding: 10px;
	}
}
