<% if (post.comments) { %>
    <% if (theme.comment.disqus) { %>
        <section id="comments"><%- partial('comment/disqus') %></section>
    <% } else if (theme.comment.facebook) { %>
        <section id="comments"><%- partial('comment/facebook') %></section>
    <% } %>
<% } %>